* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fafafa;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #7e4b96;
    background-color: #fff;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #7e4b96;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7e4b96;
}

#error-message {
    font-size: 1rem;
    color: rgb(146, 112, 161);
    text-align: center;
    margin-top: 10px;
}

.posts-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.post-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.post-card:hover {
    transform: translateY(-5px);
}

button {
    padding: 8px 16px;
    background-color: #7e4b96;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7e4b96;
}

#search {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fafafa;
    outline: none;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .login-container, .posts-container {
        padding: 15px;
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    input, button, #search {
        font-size: 1rem;
    }

    .post-card {
        padding: 12px;
    }
}
